*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1A1A1A;
}
body{
    height: calc(95vh);
    background-color: #dbf8e7;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 96%;
    border-radius: 10px;
    margin: 20px 25px;
    padding: 20px;
    text-align: center;
    background-color: #1B5E20;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
header h1{
    color: #FFFFFF;
    font-size: 25px;
}
.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 20px;
    background-color: #4CAF50;
    border-bottom: 1px solid #ddd;
    width: 96%;
    margin: 0 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.form-group input,
.form-group select,
.form-group button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.form-group button{
    background-color: #2e6b46;
    border: none;
    cursor: pointer;
    color: #ddd;
    transition: .3s;
    flex: 0 0 auto;
}
.form-group button:hover{
    background-color: rgb(0, 95, 0);
}
.form-group button:disabled{
    opacity: .5;
    pointer-events: none;
}
.form-group input,
.form-group select{
    flex: 1;
    min-width: 120px;
}
table{
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    width: 96%;
    border-collapse: collapse;
    margin: 20px 25px;
}
table th,
table td{
    padding: 12px;
    text-align: left;
    border: 1px solid #21f32f;
    font-size: 1.2rem;
}
.empty-table-message{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px;
}
.actions button{
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}
.edit-btn{
    background-color: #2e6b46;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 16px;
}
.edit-btn:hover{
    background-color: #1B5E20;
}
.delete-btn{
    background-color: #E53935;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    padding: 10px 12px;
    font-size: 16px;
}
.delete-btn:hover{
    background-color: rgb(221, 4, 4);
}
.filter-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
    font-size: 16px;
    margin-left: 10px;
}
.total{
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    justify-content: center;
    color: black;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn .3s ease-in-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.modal-content h2{
    margin-bottom: 20px;
    font-size: 25px;
}
.modal-content input,
.modal-content select{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.modal-content button{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 14px;
}
.modal-content .confirm-btn{
    background-color: green;
    color: white;
    font-weight: bold;
    transition: .3s;
}
.modal-content .confirm-btn:hover{
    background-color: rgb(1, 100, 1);
}
.modal-content .cancel-btn{
    background-color: red;
    color: white;
    font-weight: bold;
    transition: .3s;
}
.modal-content .cancel-btn:hover{
    background-color: rgb(223, 2, 2);
}
.modal-content p{
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}
.modal{
    display: none;
}
.chart{
    width: 40%;
    height: 300px;
}
.chart2{
    width: 40%;
    height: 50%;
}
.whole{
    display: none;
    justify-content: space-around;
}
#showBtn{
    color: #dfdddd;
    margin: 10px 25px;
    padding: 8px 6px;
    border-radius: 5px;
    border: none;
    background-color: #2d8132;
    cursor: pointer;
    box-shadow: 0 0 5px .5px #1B5E20;
}
#showBtn:hover{
    background-color: rgb(22, 59, 24);
}
@media (max-width: 768px){
    .form-group{
        flex-direction: column;
        align-items: stretch;
    }
    .form-group select,
    .form-group input,
    .form-group button{
        width: 100%;
        margin-bottom: 10px;
    }
    .filter-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-group select .total{
        width: 100%;
    }
    td button{
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 12px 15px;
    }
    .whole{
        flex-direction: column;
    }
    .chart{
        width: 100%;
    }
    .chart2{
        width: 100%;
    }
}
@media (max-width: 480px){
    header h1{
        font-size: 20px;
    }
    .modal-content{
        width: 90%;
    }
    table th,
    table td{
        padding: 8px;
        
    }
    .filter-group select .total{
        font-size: 14px;
    }
    .actions button{
        padding: 10px 15px;
        font-size: 14px;
    }
    td button{
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
    }
    .whole{
        flex-direction: column;
    }
    .chart{
        width: 100%;
    }
    .chart2{
        width: 100%;
    }
}